body {
    text-align: center;
}
#menu {
    list-style: none;
    position : fixed;
    width: 100%;
    background-color: antiquewhite;
    margin-top: 1px;
    top: 5px;
    z-index: 20;
}
.line {
    background-color: black;
    height: 10px;
    width: 20px;
}
a {
    text-decoration: none;
}
.Items {
    display: inline;
    padding-left: 10px;
    padding-right: 12px;
    font-family: 'Oswald';
    font-size: 20px;
}
.Items:hover {
    font-size: 30px;
    text-decoration: underline;
}

